.gradient-hover:hover {
  background: linear-gradient(
    -45deg,
    rgb(150, 238, 82, 0.5),
    rgb(60, 231, 106, 0.5),
    rgba(35, 166, 213, 0.5),
    rgba(35, 213, 171, 0.5)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 0;
}
